views/index.html
<!DOCTYPE html><html lang="en"></html><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Dita Ofertas</title><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><link rel="stylesheet" href="/static/style/style.css"></head><body><div class="container-fluid"><div class="row"><div class="col-lg-12"><h2>Dita Ofertas – uma aplicação para reproduzir ofertas de produtos no rádio do carro</h2></div></div></div><div class="panel panel-default"><header class="panel-heading"><a class="btn btn-info" href="/static/DitaOfertas.apk" target="_blank">Download</a></header><section class="panel-body"><div class="row"><div class="col-sm-12 col-md-12 col-lg-12"><h3>Caso apareça alguma mensagem informando que não é possível prosseguir com a instalação, siga os passos abaixo:</h3><div class="panel panel-default"><div class="panel-heading"><h3 class="panel-title">Como Instalar o App</h3></div><div class="panel-body container-fluid painel-instalacao"><div class="row"><div class="col-sm-4 col-md-3 col-lg-3"><div class="thumbnail"><figure><img src="/static/img/1.jpg"></figure><div class="caption"><p>Clique em <strong>configurações</strong> para habilitar a instalação
de aplicativos de fora da Google Play</p></div></div></div><div class="col-sm-4 col-md-3 col-lg-3"><div class="thumbnail"><figure><img src="/static/img/2.jpg"></figure><div class="caption"><p>Habilite a instalação de App de fontes desconhecidas</p></div></div></div><div class="col-sm-4 col-md-3 col-lg-3"><div class="thumbnail"><figure><img src="/static/img/3.jpg"></figure></div></div><div class="col-sm-4 col-md-3 col-lg-3"><div class="thumbnail"><figure><img src="/static/img/4.jpg"></figure><div class="caption"><p>Após ter habilitado, encontre o arquivo baixado
( pasta <strong>Downloads</strong> ), e clique nele</p></div></div></div></div><div class="row"><div class="col-sm-4 col-md-3 col-lg-3"><div class="thumbnail"><figure><img src="/static/img/5.jpg"></figure><div class="caption"><p>Clique em <strong>Instalar</strong></p></div></div></div><div class="col-sm-4 col-md-3 col-lg-3"><div class="thumbnail"><figure><img src="/static/img/6.jpg"></figure></div></div><div class="col-sm-4 col-md-3 col-lg-3"><div class="thumbnail"><figure><img src="/static/img/7.jpg"></figure></div></div></div></div></div></div></div></section></div></body>

views/index.pug
doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Dita Ofertas
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  link(rel="stylesheet" href="/static/style/style.css")
body
  div(class="container-fluid")
    div(class="row")
      div(class="col-lg-12")
        h2 Dita Ofertas – uma aplicação para reproduzir ofertas de produtos no rádio do carro

  div(class="panel panel-default")
    header(class="panel-heading")
      a(href="/static/DitaOfertas.apk" target="_blank" class="btn btn-info") Download
    section(class="panel-body")
      div(class="row")
        div(class="col-sm-12 col-md-12 col-lg-12")
          h3 Caso apareça alguma mensagem informando que não é possível prosseguir com a instalação, siga os passos abaixo:
          div(class="panel panel-default")
            div(class="panel-heading")
              h3(class="panel-title") Como Instalar o App
            div(class="panel-body container-fluid painel-instalacao")
              div(class="row")
                div(class="col-sm-4 col-md-3 col-lg-3")
                  div(class="thumbnail")
                    figure
                      img(src="/static/img/1.jpg")
                    div(class="caption")
                      p
                        | Clique em <strong>configurações</strong> para habilitar a instalação
                        | de aplicativos de fora da Google Play
                div(class="col-sm-4 col-md-3 col-lg-3")
                  div(class="thumbnail")
                    figure
                      img(src="/static/img/2.jpg")
                    div(class="caption")
                      p Habilite a instalação de App de fontes desconhecidas
                div(class="col-sm-4 col-md-3 col-lg-3")
                  div(class="thumbnail")
                    figure
                      img(src="/static/img/3.jpg")
                div(class="col-sm-4 col-md-3 col-lg-3")
                  div(class="thumbnail")
                    figure
                      img(src="/static/img/4.jpg")
                    div(class="caption")
                      p
                        | Após ter habilitado, encontre o arquivo baixado
                        | ( pasta <strong>Downloads</strong> ), e clique nele
              div(class="row")
                div(class="col-sm-4 col-md-3 col-lg-3")
                  div(class="thumbnail")
                    figure
                      img(src="/static/img/5.jpg")
                    div(class="caption")
                      p Clique em <strong>Instalar</strong>
                div(class="col-sm-4 col-md-3 col-lg-3")
                  div(class="thumbnail")
                    figure
                      img(src="/static/img/6.jpg")
                div(class="col-sm-4 col-md-3 col-lg-3")
                  div(class="thumbnail")
                    figure
                      img(src="/static/img/7.jpg")
